@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
}

nav>.profile {
    display: flex;
    align-items: center;
}

nav>.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav>.profile h1 {
    margin-left: 10px;
    font-size: 15px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

nav ul li:hover {
    border-bottom-color: #000;
}

.page-content {
    margin: 4%;
}

.page-content header {
    margin-top: 3%;
    max-width: 80%;
}

.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6vw;
}

.page-content header p {
    line-height: 30px;
    color: #818181;
}

.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.page-content header button:hover {
    color: #ccc;
    border-bottom-color: #000;
}

.page-content>.presentation-image {
    margin-top: 3%;
}

.page-content>.presentation-image img {
    width: 100%;
    height: auto;
    transition: filter 0.5s;
    z-index: 0;
}

.page-content>.parcours-professionnel {
    margin-top: 3%;
}

.page-content>.parcours-professionnel h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
}

.page-content>.parcours-professionnel>.parcours {
    display: flex;
    flex-wrap: wrap;
}

.page-content>.parcours-professionnel>.parcours>.parcour {
    margin-right: 20px;
    max-width: 195px;
}

.page-content>.parcours-professionnel>.parcours>.parcour h4 {
    margin: 0;
}

.page-content>.parcours-professionnel>.parcours>.parcour>.description {
    font-size: 11px;
}

.page-content>.parcours-professionnel>.parcours>.parcour>.dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

.page-content>.Compétences h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
}

.page-content>.Compétences>.Compétences>.parcour>.description {
    font-size: 11px;
}

.page-content>.Compétences>.Compétences>.Compétences>.description {
    font-size: 11px;
}

.page-content>.Compétences>.Compétences {
    display: flex;
    flex-wrap: wrap;
}

.page-content>.Compétences>.Compétences>.parcour {
    margin-right: 50px;
    max-width: 300px;
}

footer{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: white;
    padding: 10px;
}

footer>.colonne p{
    font-size: 12px;
    color: #ccc;
}

footer>.colonne p:hover{
    color: #fff;
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }
    .page-content>.parcours-professionnel {
        margin-top: 15%;
    }
    .page-content>.parcours-professionnel h1 {
        font-size: 1.5em;
    }
    .page-content>.parcours-professionnel>.parcours>.parcour {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
}